@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h3>Add Book</h3>
<form>
  <div class="mb-3">
    <label for="titleInput" class="form-label">title :</label>
    <input type="text" class="form-control" id="titleInput">
  </div>
  <div class="mb-3">
    <label for="imgInput" class="form-label">Image :</label>
    <input type="file" class="form-control" id="imgInput">
  </div>
  <div class="mb-3 form-check">
    <input type="checkbox" class="form-check-input" id="isAvailableInput">
    <label class="form-check-label" for="isAvailableInput">Available</label>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
