@{
    ViewData["Title"] = "Home Page";
}
<div class="container">
<div class="row">
    <div class="col-md-3">
   <div class="card" style="width: 18rem;">
  <img src="images/card.png" class="card-img-top cover" alt="...">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>

  <div class="card-body">
    <a href="#" class="card-link">Read</a>
    <a href="#" class="card-link">Download</a>
  </div>
</div> 

</div> 


</div> 
</div>
